.div1{
    width: 200px;
    height: 200px;
    background-color: red;
}

.div2{
    width: 200px;
    height: 200px;
    background-color: yellow;
}

.div3{
    width: 200px;
    height: 200px;
    background-color: green;
}

.divmaman{
    display: flex;
    flex-direction: row;
}

.divmaman2{
    display: flex;
    flex-direction: row-reverse;
}

.divmaman3{
    display: flex;
    flex-direction: column;
}

.divmaman4{
    display: flex;
    flex-direction: column-reverse;
}